@font-face {
    font-family: "Futura PT Regular";
    src: url(../assets/fonts/futura-pt-cond-medium.ttf);
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url(../assets/fonts/FuturaPT-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Futura PT Bold';
    src: url("../assets/fonts/futura-pt-bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url("../assets/fonts/futura-pt-demi.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Book";
    src: url("../assets/fonts/futura-pt-book.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.content-container{
    width: 1176px;
    padding: 0 132px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    height: 820px;
    width: 1176px;
    padding: 0 132px;
    margin-bottom: 96px;
}


.page-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 820px;
    background: url(/assets/img/illustration.svg) right 85px no-repeat;
    background-size: 676px 740px;
    animation: displayHeader 600ms ease-out 0ms none, displayLogo 10ms ease-out 600ms forwards;
}


.test-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    padding: 0 48px;
    border: solid #DBE3F0 1px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    text-align: center;
    height: 96%;
    border-top: none;
    animation: hideItem 600ms ease-out 0ms none, displayLabel 400ms ease-out 600ms forwards;
}

header p,
.expert-description p:nth-of-type(1),
.expert-comment blockquote{
    letter-spacing: 0.0025em;
    font-family: 'Futura PT Book', sans-serif;
    font-weight: 400;
    color: #637899;
}

.expert-description p:nth-of-type(1){
    width: 224px;
}

.description-wrapper{
    width: 100%;
    height: 336px;
    margin-top: 97px;
}

.special-project{
    font-weight: 500;
    line-height: 140%;
    color: #A3B3CC;
    margin: 0 0 20px 0;
    font-size: 1.25em;
}

.special-project:before,
.special-project:after{
    content: "🔥";
    margin: 8px;
}

h1{
    font-weight: 400;
    font-size: 4em;
    line-height: 100%;
    font-family: "Futura PT Regular", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.test-description{
    font-size: 1.25em;
    color: #637899;
}

.link-wrapper{
    width: 100%;
    height: 100px;
}

.link-button{
    color: #56B8FF;
    font-family: "Futura PT Bold", sans-serif;
    font-weight: 800;
    font-size: 1.125em;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.04em;
    border: solid 2px #56B8FF;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition:background-color 0.5s ease-out, color 0.5s ease-out;
}

.link-button:hover{
    color: #fff;
    background-color: #56B8FF;
}

.link-wrapper a{
    padding: 16px 134px;
}

.link-wrapper p{
    margin-top: 28px;
    font-size: 1.1em;
}

.button-wrapper{
    height: 123px;
    border: none;
    width: 100%;
    background: transparent url(../assets/img/button-bg.svg) center bottom no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper button{
    background-color: transparent;
    color: #637899;
    font-family: "Futura PT Medium", sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.0025em;
    border: none;
    padding: 0;
    position: relative;
    margin-bottom: 42px;
    animation: animateButton 200ms ease-out 1500ms 2 alternate;
}

.button-wrapper button:after{
    content: '';
    display: block;
    width: 18px;
    height: 14px;
    background-image: url(../assets/img/button-arrow.svg) ;
    position: absolute;
    left: 40%;
    top: 28px;
}

.partners-section{
    margin-bottom: 150px;

}

.partners-section article{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    animation: hideItem 1500ms ease-out, displayPartners 300ms ease-out 1500ms;
}

.partners-section h3{
    font-family: "Futura PT Medium", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 132%;
    letter-spacing: 0.05rem;
    color: #27303F;
    margin-top: 0;
    margin-bottom: 28px;
}

.general-partners-logos{
    width: 366px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}

.info-partners-logos{
    width: 847px;
    display: flex;
    justify-content: space-between;
}

.problems-section{
    margin-bottom: 144px;
}

h2{
    font-family: "Futura PT Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5em;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: -0.55px;
}

.problems-section h2{
    margin-bottom: 80px;
}

.problems-container{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin-bottom: 96px;
}

.problem-description{
    height: 272px;
    position: relative;
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    box-sizing: border-box;
}


.advantages-container figcaption,
.problem-description p,
.section-result,
.expert-description p:nth-of-type(2),
.expert-description h3,
.social-links p,
.direct-links p{
    font-family: "Futura PT Demi", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.problem-description p,
.section-result{
    font-size: 1.5em;
    line-height: 132%;
    margin: 31px;
}

.problem-description p,
.expert-description p:nth-of-type(2),
.social-links,
.direct-links,
.links-container a{
    color: #637899;
}

.problem-description:after{
    display: block;
    position: absolute;
    bottom: 24px;
    right: 24px;
    font-size: 20px;
}

.problem-description:nth-child(1){
    flex-grow: 2;
}

.problem-description:nth-child(1):after{
    content: "🤒";
}

.problem-description:nth-child(1) p{
    width: 212px;
}

.problem-description:nth-child(2):after{
    content: "🤧";
}

.problem-description:nth-child(3){
    flex-grow: 4;
}

.problem-description:nth-child(3):after{
    content: "🤕";
}

.problem-description:nth-child(3) p{
    width: 412px;
}

.problem-description:nth-child(2),
.problem-description:nth-child(4),
.problem-description:nth-child(5),
.problem-description:nth-child(6){
    flex-grow: 3;
}

.problem-description:nth-child(2) p,
.problem-description:nth-child(4) p,
.problem-description:nth-child(5) p,
.problem-description:nth-child(6) p{
    width: 312px;
}


.problem-description:nth-child(4):after{
    content: "😷";
}

.problem-description:nth-child(5):after{
    content: "🤢";
}

.problem-description:nth-child(6):after{
    content: "☠";
    font-size: 24px;
}

.section-result{
    width: 768px;
    text-align: center;
    margin: 0 204px;
}

.advantages-section-background{
    width: 100%;
    height: 744px;
    background-color: #F9FAFD;
    position: absolute;
    left: 0;
    z-index: -1;
}


.advantages-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 80px 0;
    height: 456px;
    padding: 144px 0;
    width: 100%;
    background-position: left;
}

.advantages-header h2{
    margin: 0;
}

.advantages-header p{
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 100;
    font-size: 1.1em;
    margin-top: 24px;
    margin-bottom: 0;
}

.advantages-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 24px;
}

.advantages-container figure{
    width: 296px;
    padding: 48px 40px 72px;
    border: 1px solid #DBE3F0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin: 0;
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}


.advantages-container figcaption{
    font-size: 20px;
    line-height: 120%;
    width: 100%;
    text-align: center;
    margin: 0;
}

.experts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 80px 0;
}

.experts-header{
    width: 512px;
    text-align: center;
    margin-top: 144px;
}

.experts-header h2{
    margin-bottom: 24px;
    margin-top: 0;
}

.experts-header p{
    margin-bottom: 0;
    font-size: 1.2em;
    letter-spacing: 0.013em;
}

.experts-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap:56px 22px;
}

.experts-section figure {
    padding: 0 40px;
    margin: 0;
    width: 196px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.expert-comment figure{
    padding: 0;
}

.expert-description{
    margin-top: 5px;
}

.expert-description p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

.expert-description h3{
    margin-top: 0;
    margin-bottom: 0;
}

.experts-section img{
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #DBE3F0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 56px;
    margin-bottom: 20px;
}

.experts-section a{
    text-decoration: none;
    color: #56B8FF;
}

.expert-comment{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 672px;
    margin-top: 11px;
    border: solid 1px #DBE3F0;
    border-radius: 20px;
    padding: 56px 252px;
    background: url("../assets/img/dots-pattern.svg") no-repeat 97% 91%;
}


.expert-comment figure{
    width: 152px;
}

.expert-comment img{
    width: 100%;
}

.expert-comment blockquote{
    margin: 0;
    width: 480px;
    color: black;
    font-size: 1.25em;
}

blockquote p{
    margin-top: 0;
    margin-bottom: 23px;
    line-height: 120%;
}

blockquote p:last-of-type{
    margin-bottom: 0;
}

.footer-background{
    height: 906px;
    background-color: #F9FAFD;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    transform: translateY(-144px);
}

.closer-header{
    width: 476px;
}

.closer-header h2{
    margin-bottom: 0;
    letter-spacing: 0.0003em;
    margin-top: 0;
}

.closer-header p{
    font-size: 1.25em;
    margin-top: 16px;
    line-height: 120%;
    margin-bottom: 67px;
}

.closer-section {
 margin-top: 144px;
 padding: 144px 0;
  height: 288px;
}

.closer-section:before{
    content: '';
    height: 56%;
    width: 47%;
    background-image: url("../assets/img/illustration-bottom.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    right: 8.9%;
    transform: translateY(-215px);
}


.closer-section a{
    padding: 16px 144px;
}


footer{
    width: 100%;
}

.links-section{
    background-image: url("../assets/img/WS-Logo-Mono.svg");
    background-repeat: no-repeat;
    background-size: 102px 74px;
    background-position: right 175px;
    padding: 80px 0;
    height: 170px;
}

.links-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 1176px;
}

.contacts-block{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 485px;
}

.social-links,
.direct-links{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    height: 106px;
}

.social-links p,
.direct-links p{
    font-size: 1.25em;
    margin: 0;
}

.links-container a{
    font-family: "Futura PT Medium", sans-serif;
    font-size: 1.1em;
    line-height: 122%;
}

a[href*="facebook"],
a[href*="instagram"]{
    text-decoration: none;
    position: relative;
    left: 37px;
}

a[href*="facebook"]:before,
a[href*="instagram"]:before
{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -37px;
}

a[href*="facebook"]:before{
    background-image: url("../assets/img/facebook-logo.svg");
}

a[href*="instagram"]:before{
    background-image: url("../assets/img/instagram-logo.svg");
}

a[href^="mailto"]{
    text-underline-offset: 0.14em;
}

a[href^="tel"]{
    text-decoration: none;
}

a[href*="freepik"]{
    margin-top: 37px;
    letter-spacing: 0.008em;
}

footer a:hover,
a[href*="facebook"] + a[href*="facebook"]:before,
a[href*="instagram"] + a[href*="instagram"]:before {
    opacity: 80%;
}

@keyframes displayHeader  {
    from{
        height: 0;
    } to{
    height: 820px;
          }
}

@keyframes displayLogo {
    from{
        background: url(/assets/img/illustration.svg) right 85px no-repeat ;
        background-size: 676px 740px;
    } to {
        background: url(/assets/img/illustration.svg) right 85px no-repeat, url(/assets/img/WS-Logo-Mono.svg) right 64px no-repeat ;
        background-size: 676px 740px, 112px 80px;
          }
}


@keyframes hideItem {
    from{
        opacity: 0;
    } to {
        opacity: 0;
          }

}

@keyframes displayLabel {
    from{
        transform: translate(0, -320px);
        opacity: 0;
    } to {
        transform: translate(0, 0 );
        opacity: 100%;
          }
}

@keyframes animateButton {
    from{
        transform: translateY(0);
    } to{
        transform: translateY(10px);
          }
}

@keyframes displayPartners {
    from{
          transform: translate(0px, 24px);
          opacity: 0;
    } to{
              transform: translate(0px, 0px);
              opacity: 100%;
          }
}


@media (max-width: 1439px) {

    .content-container,
    .header-wrapper{
        width: 916px;
        padding: 0 32px;
    }

    h1{
        font-weight: 500;
    }

    .test-label{
        width: 392px;
        background-color: #ffffff;
    }

    .problem-description{
        height: 304px;
    }

    .problem-description:nth-child(1) p{
        width: 148px;
    }

    .problem-description:nth-child(3) p{
        width: 302px;
    }

    .problem-description:nth-child(2) p,
    .problem-description:nth-child(4) p,
    .problem-description:nth-child(5) p,
    .problem-description:nth-child(6) p{
        width: 225px;
    }

    .section-result{
        width: 768px;
        margin: 0 73px;
    }

    .advantages-section{
        height: 504px;
    }


    .advantages-container figure{
        height: 208px;
        width: 205px;
    }

    .experts-container{
        gap: 65px 23px;
    }

    .experts-section figure{
        width: 131px;
    }

    .expert-description p:nth-of-type(1){
        width: 210px;
    }

    .expert-comment figure{
        width: 152px;
    }

    .experts-section img{
        border-radius: 42px;
    }

    .experts-container figure:nth-of-type(5) h3{
        width: 98%;
    }

    .expert-comment{
        padding: 40px 122px;
        background: url(../assets/img/dots-pattern.svg) no-repeat 96% 90%;
    }

    .expert-comment img{
        width: 152px;
        border-radius: 56px;
    }

    .closer-header{
        width: 446px;
    }

    .footer-background{
        background: #F9FAFD url("../assets/img/illustration-bottom.svg") 97% 46px no-repeat;
        background-size: 48% 450px;
    }

    .links-section{
        padding: 48px 0 80px;
        margin: 0;
        background-position: right 148px;
    }

    .closer-section::before{
        display: none;
    }


}

@media (max-width: 979px) {

    .content-container{
        width: 720px;
        padding: 0 24px;
    }

   .header-wrapper{
       height: 1253px;
       width: 100%;
       padding: 0;
       margin-bottom: 0;
   }

  .test-label{
      width: 554px;
      padding: 0 48px;
      height: 716px;
      background: #fff url("../assets/img/WS-Logo-Mono.svg") 252px 50px no-repeat;
      background-size: 156px 54px;

  }

  .page-header{
      height: 1253px;
      display: flex;
      justify-content: center;
      width: 100%;
      background: url(/assets/img/illustration.svg) center 272px no-repeat;
      background-size: calc(100% + 128px) auto;
      animation: displayHeader 600ms ease-out 0ms none;
      margin-bottom: 0;
  }

  .link-button{
      letter-spacing: 0.08em;
  }


  .description-wrapper{
      width: 100%;
      margin-top: 117px;
  }

  h1 br:last-of-type{
      display: none;
  }

  .special-project{
      margin: 20px 0;
  }

  .general-partners-logos,
  .info-partners-logos{
      width: 330px;
  }

  .info-partners-logos{
      flex-wrap: wrap;
      gap: 22px 0;
  }
  .partners-section img{
      height: 66px;
      aspect-ratio: initial;
  }

  .general-partners-logos img:first-of-type{
      height: 46px;
  }

  .problem-description p{
      margin: 30px;
  }

    .problem-description:nth-child(1) p{
        width: 160px;
        flex-grow: 1;
    }

    .problem-description:nth-child(2) p{
        width: 408px;
        flex-grow: 3;
    }

    .problem-description:nth-child(3),
    .problem-description:nth-child(4),
    .problem-description:nth-child(5),
    .problem-description:nth-child(6){
        height: 272px;
    }

    .problem-description:nth-child(3) p,
    .problem-description:nth-child(4) p,
    .problem-description:nth-child(5) p,
    .problem-description:nth-child(6) p{
        width: 284px;
        flex-grow: 2;
    }
    .section-result{
        width: 100%;
        margin: 0;
    }

    .advantages-section-background{
        height: 1096px;
    }

    .advantages-section{
        height: 808px;
    }

    .advantages-container{
        flex-flow: row wrap;
        justify-content: center;
        gap: 23px 20px;
    }

    .advantages-container figure{
        width: 268px;
        height: 184px;
    }

    .experts-container{
      gap: 62px 23px;
    }

    .expert-comment{
        width: 640px;
        padding: 40px 40px;
        background-size: 56px 56px;
        background-position: 95% 92%;
    }

    .expert-comment figure{
        width: 152px;
    }

    .expert-comment blockquote{
        width: 448px;
    }

    .footer-background{
        padding-bottom: 105px;
        background: #F9FAFD url(../assets/img/illustration-bottom.svg) 95% 95px no-repeat;
        background-size: 46% 450px;
    }

    .closer-section a{
        padding: 14px 118px;
    }

    .closer-header{
        width: 348px;
    }

    .closer-section{
        background-position: right 148px;
        background-size: 48% 353px;
    }

    .links-section{
     padding: 150px 0 80px;
        background-position: right 250px;
    }

  @keyframes displayHeader {
      from{
          height: 0;
      } to {
                  height: 1253px;
        }
  }

}

  @media (max-width: 767px){

      .content-container{
          width: 288px;
          padding: 0 16px;
      }

      .header-wrapper {
          height: 762px;
          width: 100%;
      }

      .page-header{
          height: 762px;
          background: url(/assets/img/illustration.svg) no-repeat center 100%;
          background-size: calc(100% + 128px) auto;
          animation: displayHeader 600ms ease-out 0ms none;
          margin-bottom: 0;
      }

      .test-label{
          width: 256px;
          padding: 0 16px;
          height: 614px;
          background-position: 57% 32px;
      }

      .special-project,
      .test-description,
      .link-wrapper p,
      .button-wrapper button,
      .advantages-header p,
      .advantages-container figcaption,
      .experts-header p,
      .expert-description p,
      .expert-comment blockquote,
      .closer-header p,
      .links-container a {
          font-size: 18px;
      }

      .test-description{
          line-height: 122%;
      }

      .test-description br{
          display: none;
      }

      .special-project{
          margin: 0 0 20px;
      }

      .link-wrapper a{
          padding: 13px 70px;
      }

      .button-wrapper{
          height: 79px;
      }

      .button-wrapper button{
          margin-bottom: 30px;
      }

      h1{
          font-size: 44px;
      }

      .link-button{
          font-size: 16px;
      }

      .partners-section h3,
      .problem-description p,
      .section-result,
      .social-links p,
      .direct-links p{
          font-size: 20px;
      }

      .partners-section{
          margin-bottom: 93px;
      }

      .general-partners-logos,
      .info-partners-logos{
          width: 250px;
      }

      .general-partners-logos img,
      .info-partners-logos img{
          height: 53px;
      }

      .general-partners-logos img:first-of-type{
          height: 31px;
      }

      main{
          padding-top: 32px;
      }

      h2{
          font-size: 32px;
      }

      .problems-section h2{
          margin-bottom: 50px;
      }

      .problems-section{
          margin-bottom: 93px;
      }

      .problems-container{
          flex-flow: column nowrap;
          gap: 9px;
          margin-bottom: 70px;
      }

      .problem-description:nth-child(n){
          flex-grow: 1;
          height: auto;
      }

      .problem-description p:nth-child(n){
          width: 224px;
          margin: 24px 32px 56px;
      }

      .advantages-section-background{
          height: 1290px;
          transform: translateY(-96px);
      }

      .advantages-section{
          height: 1098px;
          gap: 0;
          padding: 96px 0;
          justify-content: normal;
      }

      .advantages-section h2{
        text-align: center;
          margin-bottom: -10px;
      }

      .advantages-header p{
          letter-spacing: initial;
          margin-bottom: 56px;
      }

      .advantages-container figure{
          width: 208px;
          height: auto;
  }
      .advantages-container{
          gap: 10px;
          margin-bottom: 47px;
      }

      .experts-section{
          gap: 53px 0;
      }

      .experts-header{
          margin-top: 98px;
          width: 100%;
      }

      .experts-header p{
          margin-top: 0;
          letter-spacing: 0.005em;
      }

      .experts-header h2{
          margin-bottom: 11px;
      }

      .experts-container{
          overflow-x: scroll;
          flex-flow: row nowrap;
          width: 100vw;
          justify-content: space-between;
          gap: 0;
      }

      .experts-container figure:first-of-type{
          margin-left: 16px;
      }

      .experts-container figure{
          width: 140px;
          padding: 0 24px;
      }
      .experts-container img{
          border-radius: 38px;
      }

      .expert-comment{
          padding: 40px 16px;
          width: 256px;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          background-size: 41px 41px;
          background-position: 94% 98%;
          margin-top: 71px;
      }

      .expert-comment figure{
          width: 140px;
          padding-right: 0;
          margin-bottom: 27px;
      }

      .expert-comment img{
          border-radius: 38px;
          width: 100%;
      }

      .expert-comment blockquote{
          width: 100%;
      }

      .footer-background {
          margin-top: 98px;
          height: 1248px;
          padding-bottom: 56px;
          background-size: 100% 292px;
          background-position: 0 440px;
      }

      .closer-section{
          margin-top: 0;
          height: 584px;
          padding: 96px 0 0 0;
      }


      .closer-section a{
          padding: 12px 94px;
      }

      .closer-header{
          margin-top: 98px;
          width: 100%;
      }

      .closer-header p{
          margin-bottom: 45px;
      }

      .contacts-block{
          flex-direction: column;
          gap:47px;
      }

      .links-container{
          margin-top: 0;
          justify-content: start;
          gap: 49px;
      }

      a[href*="freepik"]{
          margin-top: 0;
      }

      footer{
       height: 1248px;
      }

      .links-section{
          height: 440px;
          background-position: right 550px;
          background-size: 79px 70px;
      }

      @keyframes displayHeader {
          from{
              height: 0;
          } to {
                height: 762px;
            }
      }

  }

@-moz-document url-prefix() {
    h2{
        font-weight: 500;
    }

    @media(max-width: 979px){
        .link-button{
            font-weight: normal;
        }
    }

}











